<div class="custom-modal modal-lg">
    <div class="modal-header p-2">
      <h4 class="ml-2 pt-2">Departman Ekle</h4>
      <button class="btn btn-danger btn-circle mt-1" (click)="closeDialog()">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </div>
  
  <div class="modal-content pt-1 pb-3">
    <form class="col-lg-12" [formGroup]="myForm" (ngSubmit)="saveAll()">
      <div class="row pt-3">

        <mat-form-field class="col-12">
          <mat-label>Departman Adı</mat-label>
          <input matInput placeholder="Adı" formControlName="departmentName" />
          <mat-error *ngIf="myForm.get('departmentName')?.hasError('required')">
            Departman adı boş geçilemez.
          </mat-error>
          <mat-error *ngIf="myForm.get('departmentName')?.hasError('maxlength')">
            En fazla 50 karakter olabilir.
          </mat-error>
        </mat-form-field>
  
        <div class="col-12">
          <button
            class="btn btn-warning btn-rounded ml-1 mr-1 mb-3 pt-3 pb-3 float-right"
            type="button"
            (click)="closeDialog()"
          >
            Vazgeç
          </button>
          <button
            class="btn btn-e4 btn-rounded ml-1 mr-1 mb-3 pt-3 pb-3 float-right"
            type="submit"
          >
            <i class="fa fa-user-plus mr-1"></i>Ekle
          </button>
        </div>
      </div>
    </form>
  </div>
  