<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">

      <li class="nav-header pt-3 pb-2">

        <div class="dropdown profile-element text-center">

          <!--<img src="assets/images/logo.jpeg" style="width:150px; height:150px; background-color:white; border-radius: 50%;">-->

          <img src="assets/images/logo.png" style="width:180px;" class="pt-5 pb-4">
          <h4 class="block m-t-xs font-bold mt-3 text-white">Çalışan Yönetim Sistemi</h4>

        </div>

        <div class="logo-element">
          <img src="assets/images/logo.png" style="width:60px; height:30px;">
        </div>

      </li>

      <li>
        <hr />
      </li>

      <li>
        <a routerLink="/Employee"><i class="fa fa-user fa-lg sidebar-icon"></i> <span class="nav-label">Çalışanlar</span></a>
      </li>

      <li>
        <a routerLink="/Department"><i class="fa fa-users fa-lg sidebar-icon"></i> <span class="nav-label">Departmanlar</span></a>
      </li>

    </ul>

  </div>
</nav>
<style>
  .sidebar-icon {
    min-width: 20px;
    color: white;
  }

  .nav-label {
    color: white;
  }
</style>
